<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GreenBlock</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>blue_block</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>player_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{37,46},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>player_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{19,30},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>player_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{37,28},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>player_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{19,12},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>red_block</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>speedboost</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TexturePackerFile.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae2f86e9c132548d25879755897e94ce$</string>
            <key>textureFileName</key>
            <string>TexturePackerFile.png</string>
        </dict>
    </dict>
</plist>
